<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="https://lh3.googleusercontent.com/2nvmWZxSH6a19OJ1lUvoNQVXyFHi6DZc-As1wzsOGdKO1I_ni1FwPB-bCmeS5VDWaiipYaEArefuQ345P7M50ATRRmhNZE1NlcRUo1MZBniw4sggCADFV5KoUkxGXqmMg00AN41lFYO2SyVg04MVkGTrjh-tCtm4tfI-yxoevgBs6O6n-k_2kUL0rrFmH4emLOXY_czAe2MtXocoOxxAhGfqH8Qjv_CorMf5qTa-88k6X7PQmH6zd63mrGS-AlyGU5C_ZM0kwNLx-F08bf0xBQVhPvZkQjHyuJuQqWOeyJq5DaV4ztzBZpoaEpxy5a7ppg0XhRvHUbBk_ZyYx__bxPXB4Dz2rp69jOgCbdwMgMODiJ6En5-CpOB_qZ7N-lFahN-xdlE3WFO3V9lMKRnEaOd4sACodqrhjUJ3OEtUspRgNqjTkqp_wJDyXgTa5QjKIq9oWzULfJN8hCDl0nklTrPGed66ugqvImDPu85pS2NhvUDODjnf3AjSnJqOVHT-Xqi4uFMxqDmOGNq6A9dbqKDrkhnZcdel2czQApUe41WYLfTUhoTkdPDFWDRJa9d3W1MXmAmPv1Bjux9U01kHCOJjWBT5ZzI6bwq7vYR8r5KM6cOdUg=w1018-h678-no" alt="{{site.name}}">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="https://plus.google.com/+{{site.gplus_username}}/posts">{{site.username}}</a>
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
</section>
